:root {
    --branco: rgb(255, 255, 255);
    --preto: rgb(0, 0, 0);
    --vermelho: rgb(246, 8, 8);
    --purple: rgb(132, 14, 201);
}

body {
    background: rgb(34, 34, 34) url('imagem/cataratas.png') center / cover no-repeat;
    color: var(--branco);
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
}

.inicio {
    flex-direction: column;
    line-height: 10px;
    text-align: center;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: var(--branco);
}

a:hover {
    color: var(--purple);
    transition: 0.3s all;
}


#inscreva-se-btn:hover {
    background-color: var(--purple);
    color: var(--branco);
}

h1 {
    font-weight: 200;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-size: large;
    line-height: 180px;
}

h2 {
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span {
    color: var(--vermelho);
}

.principal {
    line-height: 20px;
    max-width: 1000px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}

.logo {
    width: 70px;
    background-image: url(imagem/Logo.png);
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

form [type="submit"] {
    height: 50px;
    width: 50%;
    background-color: var(--purple);
    color: var(--branco);
    font-weight: bold;
}

form [type="submit"]:hover {
    cursor: pointer;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    width: 80%;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 15px;
}
